// General

* {
    margin: 0;
}

body {
    background: #F6F7F9;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #001E2D;
}

h1 {
    font-weight: 600;
    font-size: 24px;
}

h2 {
    font-weight: normal;
    font-size: 20px;
}


// Nav

nav {
    position: fixed;
    background: #001E2D;
    height: 100vh;
    width: 260px;
    margin: 0;
    top: 0;
    color: #FFFFFF;

    .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding : 35px;

        &:hover {
            background: #D9E021;
            cursor: pointer;
        }

        .dropdown {
            width: 29px;
            height: 17px;
        }

        .search {
            width: 27px;
            height: 28px;
        }

        &.title {

            pointer-events: none;
            border-bottom: darken(#F6F7F9, 50%) solid 1px;
            position: relative;
            left: 35px;
            padding: 35px 0;
            width: 225px;


            h1 {
                width: 100%;
                display: block;
            }
        }

        &.small {
            padding: 15px 35px;
        }


    }
}


// Main

main {
    margin: 67px 305px 0;

    >p {
        margin: 0 0 15px;
    }

    .card {

        background: #FFFFFF;
        width: 600px;
        display: flex;
        margin: 0 0 15px;
        padding: 20px;
        height: 250px;

        .poster {
            padding-right: 20px;
            width: 166px;

            img {
                height: 100%;
            }
        }

        .content {
            display: flex;
            flex-flow: row wrap;
            width: 100%;

            .header {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                h1 {
                    width: 80%;
                }

                .rating {
                    background: #D9E021;
                    color: #FFFFFF;
                    padding: 5px 10px;
                    border-radius: 3px;
                    font-size: 15px;
                    height: 15px;
                }

                .genre {
                    color: #D9E021;
                    width: 100%;
                }

            }

            .date {
                align-self: flex-end;
                margin: 0;
                color: #D9E021;
            }
        }
    }
}


// Sidebar

aside {
    left: 960px;
    top: 99px;
    position: fixed;
    height: 100vh;
    margin: 0 45px 0 0;

    >div {
        background: white;
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 15px 0;

        li {
            list-style-type: none;
        }

        input {
            color: #D9E021;
            border: #D9E021 solid 2px;
            border-style: none none solid none;
            width: 100%;
            padding: 12px 0 12px 50px;
            margin: 10px 0;
            box-sizing: border-box;
            font-size: 24px;

            &.search {
                font-weight: 600;
                background: #FFFFFF url('./assets/search-icon-yellow.png') left no-repeat;
            }

            &.date {
                background: #FFFFFF url('./assets/year-icon.png') left no-repeat;
            }

            &::placeholder {
                color: #D9E021;
            }
        }

        h1, h2 {
            width: 100%;

        }

        .collapsible {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            user-select: none;

            .button-container {
                width: 100%;
            }

            a {
                @extend h2;
                padding: 15px 35px;
                display: inline-block;

                &:hover {
                    cursor: pointer;
                }
            }

            ul {

                li {
                    margin: 5px 0;
                }
            }

            .bar {
                position: relative;
                background: #001E2D;
                width: 2px;
                height: 18px;
                top: 36px;
                left: 8px;

                &.horizontal {
                    transform: rotate(90deg);
                    top: 36px;
                    left: 10px;
                }
            }

        }
    }

}




