// General

* {
    margin: 0;
}

body {
    background: #F6F7F9;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #001E2D;
}

h1 {
    font-weight: 600;
    font-size: 24px;
}

h2 {
    font-weight: normal;
    font-size: 20px;
}

p {
    width: 100%;
}


// Burger

.burger {
    cursor: pointer;
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 25px;


    &.false {
        display: none;
    }

    &.white {
        display: inline-block;
        position: relative;
        top: unset;
        left: unset;

        div {
            background: #F6F7F9;
        }
    }

    @media (min-width: 1024px) {
        display: inline-block;
    }

    @media (min-width: 1440px) {
        display: none !important;
    }

    div {
        width: 3px;
        height: 29px;
        left: 30px;
        position: relative;
        background: #001E2D;
        transform: rotate(90deg);
        margin: 0 0 -20px;
        border-radius: 3px;
    }

    h1 {
        position: relative;
        left: 75px;
        bottom: 20px;
        font-size: 28px;
    }
}


// Mobile Nav

.mobile-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 40px;
    color: #FFFFFF;
    height: 120px;
    top: 80px;

    input, div {
        border: #D9E021 solid 2px;
        border-style: none none solid none;
    }

    input {
        color: #D9E021;
        padding: 12px 0 12px 50px;
        margin-right: 15px;
        box-sizing: border-box;
        font-size: 24px;
        flex-grow: 1;
        background: #F6F7F9 url('./assets/search-icon-yellow.png') left no-repeat;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #D9E021;
        }
    }

    div {
        height: 52px;
        display: flex;
        align-items: center;

        img {
            width: 32px;
            height: 29px;
            cursor: pointer;
        }
    }

    .burger {
        @extend .burger;
        display: inline-block;
        color: #001E2D;
        border: none;
        bottom: 131px;
        top: unset;
        left: -16px;

        div {
            margin: 0 0 -22px;
            left: 25px;
        }

        h1 {
            bottom: 19px;
        }
    }


    @media (min-width: 1024px) {
        display: none;
    }

}


// Nav

nav {
    top: 0;
    margin: 0;
    width: 260px;
    left: -260px;
    height: 100vh;
    color: #FFFFFF;
    position: fixed;
    background: #001E2D;
    transition: ease-in 0.3s;

    &.false {
        left: 0;
    }

    .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding : 35px;

        &:hover {
            background: darken(#D9E021, 50%);
            cursor: pointer;
        }

        .dropdown {
            display: none;
            width: 29px;
            height: 17px;
        }

        .search {
            width: 27px;
            height: 28px;
        }

        &.active {
            background: #D9E021;
        }

        &.title {

            pointer-events: none;
            border-bottom: darken(#F6F7F9, 50%) solid 1px;
            position: relative;
            left: 35px;
            padding: 35px 0;
            width: 225px;


            h1 {
                width: 100%;
                display: block;
            }
        }

        &.small {
            padding: 15px 35px;
        }


    }

    @media(min-width: 1440px) {
        left: 0;

        .nav-item {
            .dropdown {
                display: block;
            }
        }
    }
}


// Main

main {

    width: 1380px;
    position: relative;
    top: 68px;
    z-index: -1;
    left: 25px;


    @media (min-width: 1024px) {

        &.true {
            left: 45px;
        }

        &.false {
            left: 45px;
        }
    }

    @media (min-width: 1440px) {

        &.false, &.true {
            left: 305px;
            z-index: 1;
        }
    }

    >p {
        margin: 0 0 15px;
    }

    .card {

        background: #FFFFFF;
        width: 100%;
        display: flex;
        margin: 0 0 15px;
        padding: 20px;
        height: 160px;

        .poster {
            padding-right: 20px;
            width: 166px;

            img {
                height: 100%;
            }
        }

        .content {
            display: flex;
            flex-flow: row wrap;
            width: 100%;

            p {
                font-size: 14px;
            }

            .small span {
                display: inline-block;
                width: 120px;
                height: 13px;
                overflow-x: hidden;

                &:before {
                    position: absolute;
                    content: '';
                    width: 120px;
                    height: 16px;
                    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,1) 100%);
                }
            }

            .header {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                h1 {
                    width: 80%;
                    font-size: 16px;
                }


                .rating {
                    background: #D9E021;
                    color: #FFFFFF;
                    padding: 5px 10px;
                    border-radius: 3px;
                    font-size: 15px;
                    height: 15px;
                }

                .genre {
                    color: #D9E021;
                    width: 100%;
                    font-size: 12px;
                }


            }

            .date {
                align-self: flex-end;
                margin: 0;
                color: #D9E021;
                font-size: 12px;
            }
        }

        @media (min-width: 768px) {
            height: 250px;

            .content {

                p {
                    font-size: 16px;
                }

                .header {
                    h1 {
                        font-size: 24px;
                    }
                }
            }

        }
    }
}


// Sidebar

aside {
    right: 45px;
    top: 99px;
    position: fixed;
    height: 100vh;
    width: 280px;
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }

    @media (min-width: 1440px) {
        width: 480px;
    }

    >div {
        background: white;
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 15px 0;

        li {
            list-style-type: none;
        }

        input {
            color: #D9E021;
            border: #D9E021 solid 2px;
            border-style: none none solid none;
            width: 100%;
            padding: 12px 0 12px 50px;
            margin: 10px 0;
            box-sizing: border-box;
            font-size: 24px;

            &.search {
                background: #FFFFFF url('./assets/search-icon-yellow.png') left no-repeat;
            }

            &.date {
                background: #FFFFFF url('./assets/year-icon.png') left no-repeat;
            }

            &::placeholder {
                color: #D9E021;
            }
        }

        h1, h2 {
            width: 100%;
        }

        .collapsible {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            user-select: none;
            margin: -12px;

            .button-container {
                width: 100%;

                button {
                    @extend h2;
                    display: inline-block;
                    font-family: inherit;
                    text-align: inherit;
                    padding: 15px 35px;
                    background: none;
                    color: inherit;
                    border: none;
                    cursor: pointer;
                    outline: inherit;
                }
            }


            ul {
                padding: 0;
                font-size: 20px;
                margin: 0 0 2px;

                li {
                    margin: 15px 0;
                    display: flex;
                }

                input {
                    display: none;
                }

                label {
                    cursor: pointer;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    left: 1px;
                    border:1px solid #001E2D;
                    margin: 0 15px 0 0;
                    border-radius: 4px;

                    &:after {
                        opacity: 0;
                        content: '';
                        position: absolute;
                        width: 9px;
                        height: 4px;
                        background: transparent;
                        top: 4px;
                        left: 4px;
                        border: 2px solid #333;
                        border-top: none;
                        border-right: none;
                        transform: rotate(-45deg);
                    }

                    &:hover::after {
                        opacity: 0.5;
                    }

                }

                input[type=checkbox]:checked + label:after {
                    opacity: 1;
                }
            }

            .bar {
                position: relative;
                background: #001E2D;
                width: 2px;
                height: 18px;
                top: 36px;
                left: 8px;

                &.horizontal {
                    transform: rotate(90deg);
                    top: 36px;
                    left: 10px;
                }
            }

        }
    }

}




